#root {
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette_1258-28381.jpg?w=996&t=st=1708467860~exp=1708468460~hmac=18664e54d2b72ff9f5dc14d0f88394890b9920ec0c12f8c1307361fd53b47072');
  background-repeat: no-repeat;
  background-size: 100%;

}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: aquamarine;
}

.main-content {
  transition: margin-left 0.8s ease;
  margin-left: 250px;
}

.sidebar-open {
  margin-left: 0;
  transform: translateX(0);
}

body {
  font-family: 'Poppins', sans-serif;
}