#root {
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-72791.jpg?w=1380&t=st=1708379041~exp=1708379641~hmac=084ea31324577b9145c0de472bf811959e639e28c4fd041d880c59f08c83f27e');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

a {
  font-weight: 500;
  color: #5a5757;
  text-decoration: inherit;
}

/* a:hover {
  color: #000000;
} */

.main-content {
  transition: margin-left 0.8s ease;
  margin-left: 250px;
}

.sidebar-open {
  margin-left: 0;
  transform: translateX(0);
}