#root {
  /* max-width: 100%; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  height: 100vh;
  background-image: url('https://c.wallhere.com/photos/9e/14/2560x1440_px_blue_digital_art_underwater_water-724262.jpg!d');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

a {
  font-weight: 500;
  color: #5a5757;
  text-decoration: inherit;
}

a:hover {
  color: #000000;
}

.main-content {
  transition: margin-left 0.8s ease;
  margin-left: 250px;
}

.sidebar-open {
  margin-left: 0;
  transform: translateX(0);
}