.wrapper {
    height: 100vh;
    background-color: rgb(244, 249, 254);
}

.login {
    width: 400px;
    height: min-content;
    border-radius: 10px;
    background-color: rgb(244, 249, 254);
    color:black;
    padding: 20px;
}

.password-span {
    float: right;
        margin-right: 10px;
        margin-top: -31px;
        position: relative;
        z-index: 2;
        color: rgba(123, 122, 122, 0.929);
}

.heading {
    background-color: rgba(131, 240, 195, 0.421);
    border-radius: 35px;
    padding: 10px;
}