.background-wrapper {
    height: 100vh;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.login {
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    background-color: rgba(0, 27, 53, 0.61);
    color: black;
    padding: 3.5rem;
    padding-top: 3rem;
}

.password-span {
    float: right;
    margin-right: 10px;
    margin-top: -31px;
    position: relative;
    z-index: 2;
    color: rgba(123, 122, 122, 0.929);
}

.login-header {
    color: white;
    background-color: rgba(255, 255, 255, 0.267);
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 13px 1px white;
    margin: 1rem;
}

.forgot-password {
    margin-left: 235px;
    text-decoration: underline;
}

.sign-up {
    font-weight: bold;
    padding: 2px;
    color: white;
    
}

.sign-up:hover {
    color:white;
    text-shadow: 1px 1px 5px white;
}

label {
    color: white;
}

p {
    color: white;
}