.share-options {
    position: absolute;
    /* bottom: 74%; */
    left: 80%;
    width: 10rem;
    height: 10rem;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color:rgba(97, 102, 101, 0.684);
    color: black;
    padding: 15px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 8px;
    box-shadow: 0 0 7px 3px rgba(32, 34, 32, 0.637);
}

.share-options p {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.share-buttons button svg{
    margin: 0 6px; 
    width: 40px;
    height: 40px;
}