.table {
    padding:20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
}

div.p-column-header-content {
    background: transparent;
    background-color: rgba(0, 180, 251, 0.423);
    height: 4rem;
    font-size: large;
    justify-content: center;
}

.column {
    max-height: 1rem;
    padding: 20px;
    border: 1px solid rgba(214, 200, 200, 0.555);
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    /* box-shadow: 1px 1px 20px 1px rgba(156, 182, 202, 0.536); */
}

.title-column {
    text-align: left;
    width: 35rem;
}

.date-column {
    width: 11rem;
}

.category-column {
    width: 7rem;
}

.comments-column,
.likes-column {
    width: 8rem;
}

.search-wrapper {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    height: 3rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-wrapper svg {
    font-size: x-large;
}

.search-wrapper input {
    background-color: transparent;
    border: none;
    height: 80%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;

}

.search-wrapper input:focus {
    outline: none;
    box-shadow: none;
}

.action-column {
    width: 8rem;
    padding: 3px;
    margin: 3px;
    justify-content: center;
    text-align: center;
}

.table-action-buttons {
    justify-content: center;
    text-align: center;
    display: inline-flex;
    padding: 5px;
    margin: 5px;
}

.edit-button {
    color: rgb(0, 94, 255);
    font-size: 38px;
    padding: 3px;
    margin: 0 3px;
}

.delete-button {
    color: rgb(168, 95, 95);
    font-size: 36px;
    padding: 3px;
    margin: 0 3px;
}

.share-button {
    font-size: 34px;
    padding: 3px;
    margin: 0 3px;
}

.delete-button:hover {
    cursor: pointer;
}

.edit-button:hover {
    cursor: pointer;
}

.share-button:hover {
    cursor: pointer;
}


.edit-post-title {
    justify-content: center;
    display: inline-flex;
}

.edit-title-input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.451);
    width: 27.5rem;
    margin-right: 5px;
    padding: 5px;
}

.edit-title-buttons {
    font-size: 25px;
    margin: 3px;
}

.edit-submit {
    color: rgb(64, 223, 78);
    margin: 3px;
}

.edit-cancel {
    color: rgb(235, 79, 79);
    margin: 3px;
}


/* .p-paginator {
    background: transparent;
    background-color: rgba(49, 49, 49, 0.55);
} */

/* .p-datatable-tbody>tr {
    background: transparent;
    background-color: rgba(198, 123, 123, 0.346);
} */


 /* .p-paginator-bottom .p-paginator-pages {
    background: transparent;
    background-color: rgba(43, 151, 43, 0.996);
}

.p-paginator-page {
    background: transparent;
    background-color: rgba(49, 49, 49, 0.55);
    border-radius: 30px;
    color: white;
} */


tbody >tr {
    background-color: rgba(255, 255, 255, 0.325);
}

tbody > tr:hover{
background-color: rgba(77, 130, 236, 0.25);    
}