.single-post {
    color: white    
}

.comment-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 66, 66, 0.419);
    border: 1px solid white;
    border-radius: 10px;
    justify-content: flex-start; /* align items to the top */
    align-items: center;
    width: 60%;
    height: 20rem;
    max-width: 60%; /* adjust as needed */
    margin: 0;
    color: white;
  }
  
  .comment-header {
    display: flex;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(5, 45, 78, 0.877);
  }

  .single-post-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    gap: 0;
  } 

  .comment-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    gap: 0; 
  }