.post {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  button svg {
    width: 24px;
    height: 24px;
  }
  
  button .like-active {
    color: rgb(8, 231, 164);
  }
  
  button .dislike-active {
    color: rgb(230, 112, 112);
  }