.post {
  display: flex;
  flex-direction: column;
  background-color:  rgba(16, 66, 66, 0.419); 
  border: 1px ;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 80%; /* or any other value */
  height: 20rem;
  max-width: 80%; /* or any other value */
  margin: 0;
  color: white;
 
}

.post-header {
  display: flex;
  border-radius: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
  background-color: rgba(0, 0, 0, 0.4);
  
}

.post-actions {  
  display: flex;
  gap: 10px;
}

button.like-button, button.dislike-button {
  border: none;
  color:rgb(164, 202, 202);
  background: none;
  cursor: pointer;
}

button.like-button:disabled, button.dislike-button:disabled {
  cursor: not-allowed;
}

button.like-button svg, button.dislike-button svg {  
  width: 24px;
  height: 24px;
}

button.like-button .like-active {
  color: rgb(8, 231, 164);
}

button.dislike-button .dislike-active {
  color: rgb(230, 112, 112);
}

.post-container {
  background-color:  rgba(16, 66, 66, 0);
  width: 100%; 
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

textarea {
  width: 100%; /* Set the width to 100% of the parent container */
  height: 200px; /* Set a fixed height */
  background-color: rgba(16, 66, 66, 0.419);
}

button.submit {
  color: rgb(221, 216, 216);
  text-align: center;  
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.2px;
  cursor: pointer;
  background-color: rgba(69, 224, 172, 0.284);
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}

button.cancel {
  color: rgb(221, 216, 216);
  text-align: center;  
  padding: 5px 10px;
  font-size: 14px;
  letter-spacing: 1.2px;
  cursor: pointer;
  background-color: rgba(69, 224, 172, 0.284);
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}

button.edit-post-comment {
  border: none;
  font-size: 30px;
  color:rgb(164, 202, 202);
  background: none;
  cursor: pointer;
}

button.delete-post-comment{
  border: none;
  font-size: 30px;
  color:rgb(164, 202, 202);
  background: none;
  cursor: pointer;
}

 .button-post-container{
  background-color: rgba(69, 224, 172, 0.284);
  display: inline-flex;
  padding: 2px 15px;
  position: absolute;
  right: 11rem;
  top: 5.5rem;
  border-radius: 15px;
  align-items: center;
}
.button-post-container svg{
  margin: 5px;
  width: 35px;
  height: 35px;
}