.sidebar {
    position:absolute;
    height: 100%;
    width: 240px;
    background-color: rgba(2, 1, 59, 0.39);
    transition: all 0.6s ease-out;
    transform: translateX(-100%);
    border-right: 1px solid rgb(203, 203, 203);
    margin-top: -0.5rem;
}

.sidebar-category-heading {
    padding-top: 10px;
    color: white;
}

.sidebar-categories {
    padding: 10px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.sidebar-categories .category-item a {
    font-size: 20px;
    color: white;
    text-align: center;
    justify-content: center;

}

.sidebar-categories .category-item a:hover {
    color:aquamarine;
} 

hr.new1 {
    border-top: 2px solid white;
}