.sidebar {
    width: 240px;
    background-color: rgba(177, 235, 216, 0.762);
    justify-content: center;
    position: absolute;
    padding: 10px;
    left: -100%;
    transition: all 0.5s;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar-categories {
    padding: 0;
    justify-content: center;
    align-items: center
}

.sidebar-categories .category-item {
    list-style-type: none;
    justify-content: center;
    align-items: center
}

.sidebar-categories .category-item a {
    font-size: 25px;
    color: rgb(0, 8, 255);
    text-align: center;
    justify-content: center;
}

.sidebar-categories .category-item a:hover {
    color: white;
}