.home-page {
  padding: 20px;
  color: white;
  overflow-x: hidden;
}

.home-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.home-title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.home-page-title {
  text-align: center;
  color: white;
  font-size: 4em;
}

.moto {
  position: absolute;
  font-weight: bold;
  top: 83px;
  right: 550px;
  color: aquamarine;
}

.blocked {
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.block-text {
  color: black;
}

.home-not-logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 25px;
  color: white;
}

.home-not-logged-in div {
  display: flex;
  gap: 20px;
  text-align: center;
}

.recent,
.most-commented {
  width: 45%;
  background: transparent;
  background-color: rgba(2, 1, 59, 0.39);
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
}
