.post {

}

.post-title {
    color: white;
    text-decoration: none;

}

.post-date {
    color: ;
    font-size: 0.8em;
}

.post:hover .post-title,
.post:hover .post-date,
.post:hover .post-comments,
.post:hover .post-likes {
  color: aquamarine;
}