header {
  display: flex;
  align-items: center;
  background-color: rgba(2, 1, 59, 0.39);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
  height: 5rem;
  justify-content: space-around;
}

header a {
  font-size: 18px;
  margin: 3px;
  color: white;
}

header .header-link:hover {
  color: rgba(0, 251, 167, 0.738);
  border-bottom: 5px solid aquamarine;
}

header svg {
  color: rgba(127, 255, 212, 0.538);
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.profile-view {
  background: transparent;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.764);
  border-radius: 10px;
  width: 8rem;
  height: 4.5rem;
  color: white;
  cursor: pointer;
}

.profile-view p:hover {
  text-shadow: 1px 1px 5px white;
}

.profile-view p {
  font-size: 30px;
  margin: 0 5px;
}

.profile-view:hover {
  color: white;
  box-shadow: 1px 1px 3px 1px white;
}

.header-profile-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.header-profile {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 87%;
  top: 15%;
  width: 10rem;
  height: 9rem;
  border-radius: 10px;
  background-color: rgba(17, 17, 17, 0.764);
  color: black;
  padding: 5px;
  box-shadow: 0 0 7px 3px rgba(32, 34, 32, 0.637);
  z-index: 10002;
}

.header-profile-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10002;
  text-align: center;
}

.profile-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
}

.header-profile-content a {
  font-size: 18px;
}

.profile-icons {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.logout {
  background-color: rgba(235, 66, 66, 0.696);
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.logout:hover {
  background-color: rgb(245, 14, 14);
}

.header-username {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 5px aquamarine;
}

.sidebar-svg,
.logout svg {
  color: white;
}

.logo {
  max-width: 240px;
  height: auto;
}
