.admin-powers-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: none;
}


.admin-powers-form .form-control {
    background-color: transparent;
    width: 500px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-user {
    text-align: center;
    font-family: cursive;
    gap: 10px;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 5px;
}


.admin-powers-form {
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.admin-powers-form h4 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: aquamarine;
}

.search-result-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: white;
    color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 20px;
}

.search-button:hover {
    background-color: aquamarine;
    color: white;
    font-size: 30px;
}

.user-info {
    font-size: 20px;
    color: white;
}

.block {
    background-color: white;
    color: red;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.block:hover {
    background-color: red;
    color: white;
}

.unblock {
    background-color: white;
    color: green;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.unblock:hover {
    background-color: green;
    color: white;
}

.make-admin {
    background-color: white;
    color: blue;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.make-admin:hover {
    background-color: blue;
    color: white;
}