.post-preview {
    padding: 15px;
    margin: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.post-preview:hover {
    box-shadow: 1px 1px 13px 1px white;
}

.post-preview-title a {
    background-color: rgba(0, 255, 255, 0.419);
    width: 30rem;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.post-preview-content {
    height: 2.5rem;
    min-width: 44rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    margin: 15px 0;
}

.post-preview-details {
    color: white;
    display: inline-flex;
    align-items: center;
}

.post-preview-details p {
    margin: 0 12px;
}

.post-preview-details p svg {
    width: 18px;
    height: 18px;
    margin: 0 6px;
}

.post-preview-details a {
    margin: 0 3px;
    color: white
}

.post-preview-details a {
    margin: 0 6px;
}

.post-preview-details a svg {
    margin: 5px;
    width: 24px;
    height: 24px;
}

.post-preview-details p em svg {
    width: 20px;
    height: 20px;
}