.post-preview {
    padding: 1rem;
    margin: 5px;
    justify-content: center;
    border-radius: 15px;
    height: 13rem;
    text-align: center;
}

.post-preview:hover {
    box-shadow: 1px 1px 13px 1px white;
}

.post-preview-title {
    text-align: center;
    background-color: rgba(69, 224, 172, 0.284);
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post-preview-title a {
    border-radius: 10px;
    color: white;
    font-size: 22px;
}

.post-preview-title a:hover {
   color:rgb(36, 223, 161)
}

.post-preview-content {
    height: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    margin: 15px 0;
    font-size: 18px;
}

.post-preview-details {
    color: white;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

.post-preview-details p {
    margin: 0 12px;
}

.post-preview-details p svg {
    width: 18px;
    height: 18px;
    margin: 0 6px;
}

.post-preview-details a {
    margin: 0 3px;
    color: white
}

.post-preview-details a {
    margin: 0 6px;
}

.post-preview-details a svg {
    margin: 5px;
    width: 24px;
    height: 24px;
}

.post-preview-details p em svg {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgba(39, 220, 159, 0.284);
}

::-webkit-scrollbar-track {
    background: #3c3c3c55;
}